@media (width <= 768px) {
  .gameInfo {
    flex-wrap: wrap;
  }
  .gameInfo img {
    flex-basis: 100%;
  }
  .info {
    flex-basis: 100%;

  }
  .box {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #row {
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    margin: auto;
  }
  #games .container {
    padding: 0 !important;
    margin: auto;
  }
}

@media (width <= 1300px) {

}