@media (width <= 768px) {
  .gameInfo {
    flex-basis: 100%;

  }
  .Info .imgInf {
    flex-basis: 100%;
  }
  .info {
    flex-wrap: wrap;
    
  }
  .box {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #row {
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
    column-gap: 20px;
    margin: auto;
  }
  #games .container {
    padding: 0 !important;
    margin: auto;
  }
}

@media (width <= 600px) {

  .box:hover {
    transform: unset;
  }
  
}

